@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@09..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1;
}

p {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}

.preloader,
.split-overlay,
.tags-overlay {
  position: fixed;
  width: 100vw;
  height: 100svh;
}

.preloader,
.split-overlay {
  background-color: #0a0a0a;
  color: #fff;
}

.preloader,
.tags-overlay {
  z-index: 2;
}

.split-overlay {
  z-index: 1;
}

.intro-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.outro-title {
  position: absolute;
  top: 50%;
  left: calc(50% + 10rem);
  transform: translate(-50%, -50%);
}

.tag {
  position: absolute;
  width: max-content;
  color: #5a5a5a;
  overflow: hidden;
}

.tag-1 {
  top: 15%;
  left: 15%;
}

.tag-2 {
  left: 25%;
  bottom: 15%;
}

.tag-3 {
  right: 15%;
  bottom: 30%;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  clip-path: polygon(0 48%, 0 48%, 0 52%, 0 52%);
  z-index: 2;
}

.container .hero-image {
  position: absolute;
  width: 100%;
  height: 100%;
}

nav,
footer {
  position: relative;
  width: 100vw;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  z-index: 2;
}

nav a#logo {
  font-weight: 600;
  font-size: 20px;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  clip-path: polygon(0% 50%, 100% 50%, 100% 50%, 0% 50%);
}

.card h1 {
  text-align: center;
  width: 100%;
  font-size: 3rem;
}

.card .char span {
  position: relative;
  display: inline-block;
  transform: translateY(100%);
  will-change: transform;
}

.intro-title .char,
.outro-title .char,
.card .char {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.intro-title .char,
.outro-title .char {
  margin-top: 0.75rem;
}

.intro-title .char span,
.outro-title .char span,
.tag .word {
  position: relative;
  display: inline-block;
  transform: translateY(-100%);
  will-change: transform;
}

.intro-title .first-char {
  transform-origin: top left;
}

.about-me section {
  position: relative;
  width: 100%;
  height: 100svh;
  padding: 1rem;
  align-content: center;
  overflow: hidden;
}

.about-me h1 {
  font-size: clamp(2rem, 10vw, 5rem);
  font-weight: 500;
  letter-spacing: -0.1rem;
  line-height: 0.9;
}

.about-me section h1 {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: #141414;
}

.about-me .intro,
.about-me .outro {
  background-color: #d7dbd2;
}

.spotlight {
  background-color: #edf1e8;
}

.spotlight-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.spotlight-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: clamp(20rem, 25vw, 40rem);
  aspect-ratio: 7/5;
  border-radius: 0.5rem;
  transform: translate(-50%, 200%);
  will-change: transform;
  overflow: hidden;
}

/* ////////////////// */

.catalogue h1 {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: -0.1rem;
  line-height: 1.2;
}

.catalogue p {
  font-weight: 400;
  font-size: 0.85rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.catalogue section {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

.catalogue .intro,
.catalogue .outro {
  padding: 2rem;
  align-content: center;
  background-color: #0f0f0f;
  color: #fff;
}

.catalogue .intro h1,
.catalogue .outro h1 {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.slider-images {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slider-images::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.slider-images img {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  will-change: transform, opacity;
}

.slider-title {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  width: 50%;
  color: #fff;
}

.slider-link {
  position: relative;
  top: 10%;
  left: 1rem;
  transform: translateY(-50%);
  width: 50%;
  color: orange;
  text-decoration: none;
}

.slider-indicator {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
}

.slider-indices {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1.25rem;
}

.slider-indices p {
  display: flex;
  align-content: center;
  gap: 1rem;
  color: #fff;
}

.index {
  position: relative;
  width: 1.25rem;
  display: flex;
  justify-content: flex-end;
  will-change: opacity;
}

.marker {
  position: relative;
  width: 0.75rem;
  height: 1px;
  background-color: #fff;
  transform-origin: right;
  will-change: transform;
  transform: scaleX(0);
}

.slider-progress-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.35);
}

.slider-progress {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scaleY(0);
  width: 3px;
  height: 100%;
  background-color: #fff;
  transform-origin: top;
  will-change: transform;
}

.line {
  position: relative;
  display: block;
  will-change: transform;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 2.5rem;
  }

  .outro-title {
    left: calc(50% + 4rem);
  }

  .card {
    width: 75%;
  }

  .card h1 {
    font-size: 2.5rem;
  }

  .intro-title .char,
  .outro-title .char {
    margin-top: 0.5rem;
  }

  .about-me section h1 {
    width: 100%;
  }

  .catalogue h1 {
    font-size: 1.8rem;
    letter-spacing: 0;
  }

  .catalogue .intro h1,
  .catalogue .outro h1 {
    width: 100%;
  }

  .slider-title {
    top: 5rem;
    left: 0;
    transform: none;
    width: 100%;
    padding: 2rem;
  }

  .slider-link {
    position: absolute;
    top: 15rem;
    left: 0;
    width: 100%;
    color: #fff;
    text-decoration: none;
    text-align: center;
    color: orange;
  }

  .slider-indicator {
    top: unset;
    transform: none;
    bottom: 2rem;
  }
}
